@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;700;800;900&display=swap');
@font-face {
    font-family: 'far_from_homecomingregular';
    src: url(../police/Far-From-Homecoming-Updated.otf) format('OpenType');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 200;
}

.conteneur {
    width: 80%;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

:root {
    --primary-ad-color: #f1c530;
    --black-ad-color: #000000;
    --white-ad-color: #ffffff;
}

.brand-mobile {
    display: none;
}


/* Design Navigation */

#header-top nav {
    background-color: var(--primary-ad-color);
    padding: 15px 0;
}

#header-top nav .navigbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-top nav .brand img,
footer .brand img {
    padding-left: 20px;
}

#header-top nav .brand img:nth-child(2),
footer .brand img:nth-child(2) {
    padding-bottom: 15px;
}

#header-top nav .menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-top nav .menu ul li {
    margin-left: 70px;
    font-size: 20px;
}

#header-top nav .menu ul li a {
    text-decoration: none;
    font-weight: 500;
    color: var(--white-ad-color);
}


/* La partie Hero Design */

#hero {
    background: url(../img/home1.png), linear-gradient(#0d0101, #580909, #a61111);
    height: 800px;
    background-repeat: no-repeat;
    background-position: 95%;
    background-position-y: 10%;
}

#hero div {
    color: var(--white-ad-color);
}

#hero .titre {
    font-family: 'far_from_homecomingregular';
    font-size: 5em;
    font-weight: 100;
}

#hero .description {
    font-weight: bold;
    font-size: 1.4em;
}

#hero .box {
    margin-left: 10%;
    margin-top: 10%;
}

.transition {
    transform: scale(1.04);
    transition: all .5s ease-in-out;
}


/* Design Footer  */

footer {
    background-color: var(--black-ad-color);
    padding: 20px 0;
}

.footer {
    color: var(--white-ad-color);
    text-align: center;
    font-size: 13px;
}

.navigation-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
}

.navigation-footer .list1,
.navigation-footer .list2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-footer li {
    padding-left: 30px;
}

.navigation-footer li a {
    color: var(--white-ad-color);
    text-decoration: none;
}

.navigation-footer .list2 .formselect {
    background-color: var(--primary-ad-color);
    border-radius: 50px;
    width: 100px;
    color: var(--white-ad-color);
    padding: 3px 15px;
}

footer .media {
    padding: 15px;
    word-spacing: .7rem;
}

.fa-facebook-f {
    padding: 7px 15px;
    border-radius: 50%;
    color: var(--black-ad-color);
    background-color: var(--primary-ad-color);
}

.fa-instagram {
    padding: 7px 10px;
    border-radius: 50%;
    color: var(--black-ad-color);
    background-color: var(--primary-ad-color);
}

.fa-youtube {
    padding: 8px 5px;
    border-radius: 50%;
    color: var(--black-ad-color);
    background-color: var(--primary-ad-color);
}

.fa-twitter {
    padding: 8px 7px;
    border-radius: 50%;
    color: var(--black-ad-color);
    background-color: var(--primary-ad-color);
}

footer .copyright {
    padding: 10px;
}


/* Mobile */

@media screen and (max-width: 768px) {
    nav .menu {
        display: none;
    }
    #hero .titre {
        font-family: 'far_from_homecomingregular';
        font-size: 5em;
        font-weight: 100;
    }
    #hero .description {
        font-weight: bold;
        font-size: 1em;
    }
}

@media screen and (max-width: 600px) {
    .conteneur {
        width: 90%;
        margin: 0 auto;
    }
    #header-top {
        display: none;
    }
    .brand-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20%;
    }
    #hero .titre {
        font-family: 'far_from_homecomingregular';
        font-size: 2em;
        font-weight: 100;
    }
    #hero .description {
        font-weight: bold;
        font-size: 0.7em;
    }
    /* Footer mobile*/
    .navigation-footer {
        display: block;
    }
    .navigation-footer .list1,
    .navigation-footer .list2 {
        display: block;
        padding-bottom: 10px;
    }
    .navigation-footer .list1 {
        margin-bottom: 20px;
    }
    .navigation-footer .list2 {
        margin-top: 20px;
    }
    .navigation-footer .list1 li,
    .navigation-footer .list2 li {
        padding-bottom: 10px;
    }
    footer .copyright {
        font-size: 10px;
    }
}